.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.welcome {
  height: 450px;
  background: url(../assets/bg.jpeg) no-repeat center 0;
  background-size: 408px 400px;
}

.list code {
  background: #f7f7f7;
}
