.normal {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #E6E6E6;
}

.content {
  height: 640px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contentStyles {
  height: 600px;
  width: 540px;
  margin: 20px;
  padding: 100px 40px 60px 40px;
  font-size: 20px;
  border: 1px solid #000;
}

.analysisContent {
  padding-top: 95px;
  font-size: 20px;
  margin-left: 10px;
  width: 450px;
}

.alterQuestionsTypes {
  font-size: 20px;
  margin-top: 20px;
}

.analysis {
  text-align: left;
}
