.normal {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #E6E6E6;
}

.content {
  height: 1260px;
  width: 1200px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 20px;
}

.contentStyles {
  height: 1220px;
  width: 1160px;
  margin: 20px;
  padding: 0 40px 0 40px;
  border: 1px solid #000;
}

.appraise {
  text-align: left;
  font-size: 10px;
  width: 300px;
  margin-top: 100px;
  margin-left: 120px
}

.appraiseOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.appraiseContent {
  height: 255px;
  background-color: #fff;
  margin-top: 40px;
  margin-left: 280px;
  width: 480px;
  border: 1px solid #000;
}

.questions {
  margin-top: 20px;
  margin-left: 200px;
  width: 750px;
  height: 100px;
  font-size: 24px
}

.title {
  width: 600px;
  margin-top: 40px;
  margin-left: 290px;
}

.titleLocation {
  margin-left: 20px;
  float: left;
}

.toAppraise {
  margin-top: 200px;
  text-align: left;
  margin-left: 210px;
}

hr {
  margin-top: 25px;
  width: 680px;
  margin-left: 240px
}

.questionItems {
  border: 1px solid #000;
  text-align: left;
  padding: 10px
}

.options {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px
}

